/* Container Styling */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
}

/* Book Ticket Link Styling */
.book-ticket {
  color: #fff;
  background-color: #4CAF50;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 10px; /* Add margin between links */
}

.book-ticket:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Cancel Ticket Link Styling */
.cancel-ticket {
  color: #fff;
  background-color: #f44336;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 10px; /* Add margin between links */
}

.cancel-ticket:hover {
  background-color: #e53935;
  transform: scale(1.05);
}

.welcome-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
  background: linear-gradient(to bottom right, #e794f6, #8f94fb); /* Adjust gradient colors as needed */
  color: #fff; /* Text color */
  font-family: Arial, sans-serif; /* Font family */
  padding: 20px;
}

.welcome-container h1 {
  font-size: 2.5rem; /* Adjust heading font size */
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 1.2rem; /* Adjust paragraph font size */
  margin-bottom: 20px;
}


